.gradle/*
build/*
.idea/*
.ideaDataSources/


# IntelliJ customizations
!.idea/checkstyle-idea.xml
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyleSettings.xml
!.idea/externalDependencies.xml
!.idea/google-java-format.xml
!.idea/saveactions_settings.xml