.gradle/*
build/*
.idea/*
.ideaDataSources/
data-test/*
bin/*

# IntelliJ customizations
!.idea/checkstyle-idea.xml
!.idea/saveactions_settings.xml
!.idea/codeStyles/*
!.idea/codeStyleSettings.xml
!.idea/externalDependencies.xml
!.idea/google-java-format.xml

application-prod.yml

# Integration Test
integration-test/node_modules/*
integration-test/test-results/*
integration-test/.env
integration-test/playwright-report

# OpenAPI Generator artifacts
.openapi-generator/
.openapi-generator-ignore

# Google Drive Files
/tokens/StoredCredential
src/main/resources/credentials.json
src/main/resources/application-local.yml
/data/members.json
/admin-wcc-app/.vite/
/admin-wcc-app/node_modules/
/admin-wcc-app/.next/
/scripts/init-dev-env.sh
.vercel
