.gradle/*
build/*
.idea/*
.ideaDataSources/
data-test/*


# IntelliJ customizations
!.idea/checkstyle-idea.xml
!.idea/saveactions_settings.xml
!.idea/codeStyles/*
!.idea/codeStyleSettings.xml
!.idea/externalDependencies.xml
!.idea/google-java-format.xml