{
  "installed": {
    "client_id": "YOUR_NEW_CLIENT_ID-f4pfmum8k5d4si3oq4km4o7gjfmnmkhn.apps.googleusercontent.com",
    "project_id": "YOUR_PROJECT_ID",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_secret": "YOUR_NEW_CLIENT_SECRET",
    "redirect_uris": [
      "http://localhost"
    ]
  }
}