# Dependencies
node_modules

# Build outputs
.next
out
build
dist

# Test coverage
coverage

# Environment files
.env
.env*.local

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
*.log

# OS files
.DS_Store
