services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: MFpFnhhICniFNPA
      POSTGRES_DB: wcc
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

  springboot-app:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: springboot-app
    ports:
      - "8080:8080"
      - "5005:5005"
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/wcc
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: MFpFnhhICniFNPA
      SPRING_APP_BASE_URL: http://localhost:8080
    healthcheck:
      # http://localhost:8080/actuator/health is always DOWN because of the 
      # lack of mail service authentication
      test: ["CMD-SHELL", "wget -qO- http://localhost:8080/actuator/health/ping | grep UP || exit 1"]
      interval: 10s
      timeout: 1s
      retries: 5
      start_period: 5s
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data: